PRIVATE_KEY=your_deployer_private_key
BASE_RPC_URL=https://sepolia.base.org
PRIVATE_KEY_SELLER=your_seller_private_key
PRIVATE_KEY_BUYER=your_buyer_private_key
TRADE_ESCROW_ADDRESS=your_trade_escrow_contract_address
USDC_ADDRESS=your_usdc_contract_address
BASE_MAINNET_RPC_URL=https://mainnet.base.org
